{% extends 'base.html' %}

{% block content %}
<!-- <div>{{new_title}}</div> -->


<!-- {% for blogpost in blogposts %}

       <div class="blogpost">
           <div class="blogpost-title>{{blogpost.title}}</div>

           <pre class="blogpost-body>{{blogpost.blogpost}}</pre>
           <a href="/displaypost/{{ blogpost.key().id() }}">link</a>
       </div>
{% endfor %} -->


<ul>
{% for blogpost in blogposts %}
    <li>
        <a href="/displaypost/{{ blogpost.key().id() }}">{{blogpost.title }}</a>
        <div class=""> {{ blogpost.blogpost }}</div>
    </li>
{% endfor %}
</ul>


{% endblock %}
